[2015-04-24 17:40] ratherblue opened #10 "Duration is reported as NaN on testSuiteFinished"
Added this reporter to some of my unit tests and I'm getting output like this:

[code]

[2015-04-24 17:41] edendramis commented on #10
I have a fix for it, but wanted to report the issue first.

[2015-09-30 08:54] eagleeye opened #13 "push your changes to GitHub (0.0.4 is the latest of 4 releases)"
https://www.npmjs.com/package/mocha-teamcity-reporter says that latest release is 0.0.4, but on Github it's only 0.0.2. Please push your changes to GitHub

[2015-10-01 06:37] eagleeye commented on #13
not relevant since v1.0.0 was introduced)

[2015-10-01 06:37] #13 closed

[2015-11-24 17:21] ridhdhi opened #17 "Please add license file"

[2016-08-25 06:23] alan-agius4 opened #21 ""mocha-teamcity-reporter" reporter blew up with error:"
20:19][Step 4/4] "mocha-teamcity-reporter" reporter blew up with error:
[08:20:19][Step 4/4] ReferenceError: window is not defined
[08:20:19][Step 4/4]   at Object.<anonymous> (D:\tc\ba1\work\39f0d6d839da2ca9\src\node_modules\mocha-teamcity-reporter\lib\teamcity.js:25:5)
[08:20:19][Step 4/4]   at Module._compile (module.js:541:32)

Version: 1.1.0

Previously. 1.0.2 works fine

[2016-08-25 06:30] woraphol-j commented on #21
Confirmed this behavior. Getting the same error as well. Running on Node.js environment (Node 6.3.4)

[2016-08-25 06:54] rajwilkhu commented on #21
Same issue - all our CI builds are broken :-(

[06:52:21][Step 2/2] "mocha-teamcity-reporter" reporter blew up with error:
[06:52:21][Step 2/2] ReferenceError: window is not defined
[06:52:21][Step 2/2]     at Object.<anonymous> (C:\BuildAgent\work\45d48cc6de5b6cea\node_modules\mocha-teamcity-reporter\lib\teamcity.js:25:5)
[06:52:21][Step 2/2]     at Module._compile (module.js:556:32)
[06:52:21][S

[2016-08-25 07:07] rajwilkhu commented on #21
Submitted a PR to fix this issue: https://github.com/travisjeffery/mocha-teamcity-reporter/pull/22

[2016-08-25 08:21] ts-taiye commented on #21
Have the same error, node v4.4.0

[2016-08-25 08:31] travisjeffery commented on #21
Just pushed v1.1.1 fixing this, thanks @rajwilkhu

[2016-08-25 08:31] #21 closed

[2016-08-25 17:43] jgoz opened #24 "Error when using with mocha-phantomjs-core"
As of version 1.1.0, `mocha-teamcity-reporter` cannot be loaded by [`mocha-phantomjs-core`](https://github.com/nathanboktae/mocha-phantomjs-core). It fails with the following output:

[code]

That error is misleading because the reporter is actually being loaded, but `Mocha.reporters.Custom` is being set to `null`, which fails a check [here](https://github.com/nathanboktae/mocha-phantomjs-core/blo

[2016-10-25 13:04] barakSpoj commented on #24
+1

Worked fine on 1.0.2

[2016-11-22 09:21] miroslawmajka opened #26 "TeamCity reports less tests than there actually are with multiple 'describe' levels"
We've come across an issue with TeamCity only reporting a limited number of Mocha tests when several 'describe' levels are present. We use this in conjunction with mocha-each:

const withThese = require('mocha-each');

[code]

When this is run locally using the spec reported the amount of tests is correct but within TeamCity the summary is wrong. The log lists all the tests but the ultimate result

[2016-12-08 11:06] racerbajs commented on #26
I have seen the same issue as well.

[2017-01-26 09:36] Mmvas commented on #24
+1

[2017-02-23 14:13] elad-nach commented on #26
I encountered this also - I can point out that this also happens when dynamically generating tests as described [here](https://mochajs.org/#dynamically-generating-tests)

[2017-02-27 16:28] miroslawmajka commented on #26
Closing as no response for a while and we are moving on to Cucumber having refactored Mocha to one-level-describe structure.

[2017-02-27 16:28] #26 closed

[2017-02-28 02:38] enigmatic00 opened #28 "actual & expected should be included in the teamcity message"
Teamcity service messages support actual & expected properties on test failures. The reporter should leverage those & include them in the service message

[2017-04-27 09:29] ebdrup opened #30 "Failed tests logged to stderr?"
We use this module a lot. Thanks for making it!
Would it be possible to log failed tests to stderr? If yes, then I will happily make a pull request, otherwise I'll do our own fork. But I would rather do it here.

[2017-04-27 10:31] ebdrup opened #32 "We would like to take over maintenance if you want?"
If you would like us to, we at debitoor would like to take over maintenance of this module.
We are quite a few people at debitoor, and we have changing employees. So my suggestion would be that you transfer the repo to our GitHub org `debitoor` and add me on `npm` my npm name is `ebdrup`. Then I can add the other team members on `npm`.

[2017-07-19 08:54] jamie-sherriff commented on #32
I also would like to make some changes, has there been any movement on deciding where the future maintenance is going? @ebdrup @travisjeffery

[2017-11-22 12:07] fatso83 commented on #32
Try pinging him on Twitter or his email. Both in the profile. People often turn off notifications on repos they no longer have any interest in.

[2017-12-04 08:25] jamie-sherriff commented on #32
Ah thanks, assumed he was a busy man and didn't want to interrupt him. Anyways i forked the project and republished it as mocha-teamcity-reporter-v2 if anyone else sees this and would like to make changes.

[2017-12-04 08:50] fatso83 commented on #32
@jamie-sherriff Yeah, I saw that :+1:  A sidenote is that I think it makes more sense to publish forked versions as "<username>/<package>" now that NPM has supported scopes for a while. "Use jamie's NPM fork is less prone to miscommunication than "use version two of the first version of the package, not the first version of the second version of the package". My two cents :-)

[2017-12-04 08:58] travisjeffery commented on #32
Sorry, just seeing these now. Yeah GitHub notifications are a mess for me. Thanks to https://twitter.com/kopseng/status/937599914963537920 for shooting me a tweet. I've added both @ebdrup  and @jamie-sherriff as collaborators.

[2017-12-09 22:56] jamie-sherriff commented on #32
@travisjeffery  Thanks a lot! and sorry for the delay. Do you still have time to publish new updates to npm or can you add someone else as a collaborator?

@fatso83  yea good idea! one of those in hindsight things :)

[2018-01-07 21:41] mekdev opened #35 ""before all" hook failure does not get propagated to teamcity build failure"
This is on the latest 1.1.1
In this test suite we actually have 2 failures
1. a test failure
2. a before hook failure (which skips 3 tests)

however only 1 test failure is reported
![screen shot 2018-01-07 at 1 39 21 pm](https://user-images.githubusercontent.com/2752830/34654443-6615edf4-f3b0-11e7-874b-51cb3d4934e3.png)

The only way to figure this out is to click in the build log and read mocha e

[2018-02-01 03:42] jamie-sherriff commented on #35
@mekdev Sorry for the delay, i have been trying to get ahold of @travisjeffery  to discuss how to publish new versions of the reporter but haven't got a reply. I am happy to work on this problem on my fork though.

[2018-02-01 04:45] travisjeffery commented on #35
@jamie-sherriff what's your email/username to add to npm?

[2018-02-01 04:51] travisjeffery commented on #32
@jamie-sherriff added you to the pkg on npm.

[2018-02-01 04:51] travisjeffery commented on #32
If there are others who want to help let me know.

[2018-02-01 04:51] #32 closed

[2018-02-01 04:52] travisjeffery commented on #35
@jamie-sherriff found your npm username and added you to the pkg.

[2018-02-01 07:59] jamie-sherriff commented on #32
Thanks @travisjeffery

[2018-02-01 08:00] jamie-sherriff commented on #35
@mekdev  i will merge over my changes and take a look at your issue after.

[2018-02-05 08:23] jamie-sherriff opened #37 "Enable Travis"
Hi Travis, If you get a chance, i had Travis setup on my fork for running tests. If you can enable it on your end that would be great!

[2018-02-05 08:48] travisjeffery commented on #37
done

[2018-02-05 08:48] #37 closed

[2018-02-06 05:29] #17 closed

[2018-02-06 05:30] jamie-sherriff commented on #17
This was done with the maintenance update PR #36

[2018-02-07 19:45] angelseye opened #39 "options object missing causes "Cannot read property 'reporterOptions' of undefined""
https://github.com/travisjeffery/mocha-teamcity-reporter/blob/df012a22a34d61b9d4588840f1197fce0cd0725c/lib/teamcity.js#L77

var reporterOptions = options.reporterOptions || {} works if options object is defined.
When it's not defined, then it tries to read reporterOptions from undefined object.

[2018-02-07 21:35] jamie-sherriff commented on #39
How do you reproduce this with test running? As mocha passes the reporter with its options that defaults to {} if undefined

[2018-02-07 23:42] angelseye commented on #39
This is used in combination with grunt-mocha-blanket running tests using
grunt in a command line.
I don’t have the exact organization of the code on hand at the moment, but
I can set up a temp project and get back to you with it. I have fallen back
to 1.1.0 in the meantime for our project.

Ashley Wilson
AngelsEye, Inc
615-280-0013
awilson@angelseyeinc.com

<http://www.linkedin.com/in/angelseye>

[2018-02-08 07:31] jamie-sherriff commented on #39
Ah yep, i had a quick look at grunt-mocha-blanket and think i can see how it gets set to undefined, if i create a branch here will you be able to give it a test?

[2018-02-14 17:59] angelseye commented on #39
Sure thing. Let me know when you have something to look at.
I’d love to hear more about what you found, as if I need to make a setting
change on our end to make sure it isn’t undefined, I am happy to do that.
Just part of the whole upgrading process.

Ashley Wilson
AngelsEye, Inc
615-280-0013
awilson@angelseyeinc.com

<http://www.linkedin.com/in/angelseye>

"If you don't know where you're going, a

[2018-02-21 07:10] jamie-sherriff commented on #39
@angelseye  Sorry for the delay, please take a look at the branch undefined options

Or you can simply install with `npm install travisjeffery/mocha-teamcity-reporter#undefined-options`

Just stole the logic from the xunit reporter
https://github.com/mochajs/mocha/blob/master/lib/reporters/progress.js

[2018-02-25 07:47] jamie-sherriff commented on #35
Had a look at this, will need to have a think about the best way to solve it is. Also looks like it was raised in #33

[2018-02-25 07:52] jamie-sherriff commented on #30
@ebdrup Do you still need this? i feel like a change like this would need to be option controlled (off by default), since people probably expect errors to be printed on stdout

[2018-02-25 09:38] ebdrup commented on #30
Yep still need it 😀

[2018-02-27 00:44] jaredreynolds commented on #39
That works for me and is similar to the fix in @angelseye's fork.  Is there anything holding this up?

[2018-02-27 06:25] jamie-sherriff commented on #39
@jaredreynolds nope, more just waiting if grunt-mocha-blanket needed more changes to work. Are you using the same package or something different that causes this?

Can publish a new version with the current addition in the meantime.

[2018-02-27 06:48] #39 closed

[2018-02-27 19:37] jaredreynolds commented on #39
Thank you!  No, we aren't using `grunt-mocha-blanket`, just `grunt`.  It could be a config thing since I'm just upgrading a very old test suite.  Relevant `grunt` config fwiw:

[code]

[2018-02-28 14:08] angelseye commented on #39
I've upgraded and tested our environment and it is working as expected. Thanks so much for awesome quick fix. Lets hope the rest of my upgrades go as smoothly.

[2018-03-19 17:27] dpaquette commented on #26
I am also encountering this issue. Any chance this issue can be re-opened and hopefully fixed?

[2018-03-20 06:46] jamie-sherriff commented on #26
@dpaquette i was not aware this was an issue and i have nested dynamic test suites all the time, are you using mocha-each as well?

[2018-03-23 23:38] dpaquette commented on #26
No, we are not using mocha-each. Looking at this a little closer and some of our nested tests are being reported but others are not. I haven't been able to identify what the difference is. If I find anything more I will report here.

[2018-04-12 11:41] aleksandr-oleynikov opened #41 "Run reporter in browser"
Hello!

Is there any legal way to run `mocha-teamcity-reporter` in browser?
Simple adding
[code]
obviously leads to errors.

We test video players' iframes. In this way we run our tests in browser.
And we've set transferring log messages from browser console to node script, so we only need to get teamcity log messages in browser console.

[2018-04-15 22:58] jamie-sherriff commented on #41
This should work but unsure of the correct setup method, what browser are you using? as I would say I broke some browser compatibility with the version 2.x release. (Feel free to confirm against 1.x) Can you post the errors you are getting?

[2018-04-18 09:00] jamie-sherriff commented on #30
Merged into 2.3.0 release by #42

[2018-04-18 09:00] #30 closed

[2018-04-18 09:03] jamie-sherriff commented on #41
@aleksandr-oleynikov  yea... i can see how this doesn't work anymore using node related functions like process.env, sorry about that.

As an easy fix id say stick to using version 1 and ill come up with a better solution in the future.

[2018-04-18 09:09] jamie-sherriff commented on #41
Actually if you can give my quick attempt at solving this a try
https://github.com/travisjeffery/mocha-teamcity-reporter/tree/run-in-browser

[2018-04-19 06:48] jamie-sherriff commented on #24
Is this still needed? is someone able to verify this is still a problem with version 2.x?

[2018-04-19 11:47] aleksandr-oleynikov commented on #41
Hello @jamie-sherriff! Sorry for late answer.

I've collected some info which I hope can help with fixing this problem.

----------------------------------------------------------------------

At first I've tried to use current last released **version 2.3.0** in browser. It doesn't work.
<details>
<summary>Adding `<script src="node_modules/mocha-teamcity-reporter/lib/teamcity.js"></script>` to a p

[2018-04-26 08:15] aleksandr-oleynikov commented on #41
Actually we don't use flowId. So I think you can base it on `document.title` as a first solution.

[2018-04-29 10:25] jamie-sherriff commented on #41
I have updated the run-in-browser and just split it out into a separate file to not need adding webpack for the moment, may add webpack in the future. i will do some more tidy up and merge this in soon.

[2018-05-05 00:37] jamie-sherriff commented on #41
Fixed in 2.4.0

[2018-05-05 00:37] #41 closed

[2018-05-05 00:57] jamie-sherriff opened #44 "Remove unopened testSuiteFinished"
Continuation of #3 to track it due to age and merge conflicts

[2018-06-07 14:20] fungus1487 opened #45 "Running inside mocha-webpack fails"
The specific line https://github.com/travisjeffery/mocha-teamcity-reporter/blob/master/lib/teamcity.js#L18 decides whether to pull the reporters base from mocha import or phantomjs. When running tests inside `mocha-webpack` (e.g. using Vue.js) the reporter fails with `cannot resolve module require('./base')`

The fix should be in the test `typeof window === 'undefined'` to check if the environment

[2018-06-11 21:22] iamdudeman commented on #45
I just came across this issue today and I came to the same conclusion as fungus1487.

[2018-06-12 03:35] jamie-sherriff commented on #45
Ah yep I can see how this is a problem. Could someone provide a simple end to end example pulling in mocha webpack and this reporter for me?

[2018-08-24 12:18] mexisd commented on #35
Hi @jamie-sherriff, is this fixed? I am on `2.4.0` and I still see the same behavior. When a before or after fails the name of the test is not logged in TeamCity.

[2018-08-26 10:47] jamie-sherriff commented on #35
Sorry @mexisd this never got merged in and is still on a branch as was waiting on the original poster for clarification on their expected behavior. Please give the branch a try as it subscribes to the hook event and won't rely on your implementation of a test name to match a specified name.

https://github.com/travisjeffery/mocha-teamcity-reporter/tree/fail-test-in-hook

If it solves your problem

[2018-09-03 13:45] mexisd commented on #35
Hi @jamie-sherriff, thanks for your response. I will have a look at the branch, but do you know what I need to use that branch? At the moment it is very easy, as the only thing I needed to do was an npm install.

[2018-09-05 12:30] mexisd commented on #35
@jamie-sherriff I had a look. Overall seems to be working, but I have a reservation/question.

I tried with only one describe:
![image](https://user-images.githubusercontent.com/12252499/45093111-56948580-b10f-11e8-93ca-b39fc28a9a4f.png)

Then with a nested describe:
![image](https://user-images.githubusercontent.com/12252499/45093140-6d3adc80-b10f-11e8-94dd-1eea1dd22f69.png)

But if you go to the

[2018-09-10 03:12] lreading commented on #45
I ran into this issue after setting up a new project using the Vue.js CLI.

@jamie-sherriff - I put together a simple vue client that reproduces it for you.
https://github.com/lreading/mocha-webpack-with-teamcity-reporter

Run the following:
 - npm i
 - npm run test:teamcity

You'll get the error noted above.

In case you happen to notice... t I had to specify `node_modules/mocha-teamcity-reporter

[2018-09-11 06:17] jamie-sherriff commented on #35
@mexisd  Thanks for the feedback. I certainly agree with your comments around making it default behavior which is why i was thinking of keeping it optional until i do a major version bump.

If i merge the current behavior (and you turn it on with the option) in that would solve your problem  right?

[2018-09-11 06:19] jamie-sherriff commented on #45
@lreading  Awesome thanks for the easy example, i will take a look it.

[2018-09-18 08:12] jamie-sherriff commented on #35
This has been fixed and released under 2.5.0 with the reporter option recordHookFailures
Please let me know if there are any problems

[2018-09-18 08:12] #35 closed

[2018-09-18 09:13] jamie-sherriff commented on #45
@lreading Sorry for the delay. Have published a workaround in the branch fix-mocha-webpack
Can install using `npm install travisjeffery/mocha-teamcity-reporter#fix-mocha-webpack)` it works on your sample so hopefully solves your problem?

With phantomjs now being deprecated i am tempted to remove the specific logic for it but will probably have to wait for a major version bump.

[2018-09-26 04:51] lexxanatoli opened #47 "Inconsistency between tag and version"
Hi,

You have inconsistency between tag in Git (latest 2.4.0) and version of NPM module in package.json (latest 2.5.0).

Thanks,
Anatoli

[2018-09-27 00:54] lreading commented on #45
@jamie-sherriff - Works great!  Thanks for taking this on!

I think it'd be wise to wait for the next major version bump, as there's likely some co-dependencies hanging around in some projects.

Unless you need it for anything else, I'll probably remove that git repo I set up to reproduce.

Thanks again! :tada:

[2018-09-27 08:41] jamie-sherriff commented on #47
@lexxanatoli  Thanks for pointing that out, forgot to push the tag, now done 👍

[2018-09-27 08:41] #47 closed

[2018-09-27 09:04] jamie-sherriff commented on #45
No problem!  @lreading  thanks for your help as well now closing and released under 2.5.1

[2018-09-27 09:04] #45 closed

[2019-02-19 13:17] jhdevuk opened #49 "Cannot read property 'duration' of undefined"
I've just noticed the following error being thrown when running our client side tests in TeamCity:
[code]
Nothing's changed with the setup or package versions.

Any idea why the `stats` object would be undefined and what might be causing this?
We're using version `2.4.0`.

Many thanks

[2019-02-19 14:33] yairhaimo commented on #49
This is because mocha 6 was released:
https://github.com/mochajs/mocha/commit/42303e2acba217af554294b1174ee53b5627cc33

[2019-02-19 21:57] njumbo commented on #49
Hey dear contributors, on our side we also needed to remove the reporter because of this issue. Is there a way to refer to a version of mocha that is lower than 6.0 so we can keep using the reporter? :)

Thanks

[2019-02-21 06:08] jamie-sherriff commented on #49
Hey all, i will have a look into this but i suspect it might be https://github.com/mochajs/mocha/issues/2819

@jhdevuk  Could you please get me a simplified version of your test that breaks? so i can add it to my own test suite so i know what i am doing will solve your issue as i don't have any existing tests that do break like that with mocha 6.

@njumbo you should be able to lock your package.js

[2019-02-21 07:31] shahata commented on #49
Locking `package.json` will not help, it will only work when manually fiddling with `package-lock.json`. Anyway, I think it is not a good idea that this package depends on mocha, it should be in `peerDependencies` instead.

[2019-02-21 07:47] jamie-sherriff commented on #49
@shahata ah thanks good point!

[2019-02-21 08:01] roymiloh commented on #49
@jamie-sherriff maybe `>=3.5.0 <6` for `mocha`?

[2019-02-21 08:13] jamie-sherriff commented on #49
@roymiloh was thinking that but i already have a workaround for mocha 6 i was thinking of doing the following then:

1. Restrict the mocha dependency version to less than 6 and publish that as a patch version
2. followed by  a major version bump to support mocha 6 and make it a peer dependency

if anyone has any other suggestions please let me know as ill start doing that now.

[2019-02-21 08:23] jamie-sherriff commented on #49
Restrict the mocha dependency version to less than 6 and publish that as a patch version has been released as 2.5.2

[2019-02-21 08:25] roymiloh commented on #49
Thanks, looks good.

[2019-02-21 09:25] jamie-sherriff commented on #49
Mocha version 6 support is published under the tag next
`mocha-teamcity-reporter@next`
please let me know if you encounter any issues.

[2019-02-21 10:26] ezhaka opened #50 "Require import Incompatibility with mocha 6.0.0"
When mocha 6 is used test run fails with error:

[code]

`require('mocha').reporters.Base` seems to be missing in mocha 6.

[2019-02-21 14:03] njumbo commented on #49
Thanks @jamie-sherriff, we don't have a package-lock right now, this change will help us in the meantime. we will try it out today.

[2019-02-22 05:25] jamie-sherriff commented on #50
Hi @ezhaka i do not have this problem can you please provide an example test that shows it failing?

[2019-03-13 17:10] jhdevuk commented on #49
@jamie-sherriff Amazing, thanks

[2019-03-22 17:49] tgrossen commented on #50
@ezhaka Did you ever find a solution to this? Currently facing the same issue with mocha@6.0.2 and mocha-teamcity-reporter@2.5.2.

[2019-03-23 06:17] jamie-sherriff commented on #50
@tgrossen Can you provide an example please? i have not been able to find any tests that show this issue.

In what context are you calling mocha within? (browser/node/webpack) etc?

[2019-03-29 16:34] mpareja commented on #50
We are encountering the same issue upon upgrading to mocha 6. Mocha 6 appears to have reversed the order that REPORTER scripts and REQUIRE scripts are loaded. Mocha 5 loaded reporters ahead of require scripts.

We use require scripts to setup JSDOM, therefore initializing `window`. With the change in loading order, `mocha-teamcity-reporter` believes it is running in a browser. Perhaps there is a d

[2019-03-29 16:42] mpareja commented on #50
For the moment, we're working around this by adding a require script with the following:
[code]

[2019-04-08 04:43] jamie-sherriff commented on #50
Thanks for the info @mpareja, the logic to detect what the reporter us running under  is to support mocha-phantomjs which i think ill drop support for in the next version and just default to node so that would solve this issue.

@tgrossen and @ezhaka  are you guys doing something similar?

[2019-04-16 05:34] jamie-sherriff commented on #50
@mpareja  I have published a pre release with the window if statement logic removed.
```npm install mocha-teamcity-reporter@next``` if you would like to start using it early.

[2019-04-16 13:09] mpareja commented on #50
Thanks @jamie-sherriff. I've confirmed that `next` solves the problem for me. I was successfully able to remove the window name hack. I'll be on the look-out for the next major release.

[2019-05-09 04:55] jamie-sherriff commented on #10
Fixed in 3.0.0 release

[2019-05-09 04:55] #10 closed

[2019-05-09 04:55] jamie-sherriff commented on #28
Implemented in 3.0.0 release

[2019-05-09 04:55] #28 closed

[2019-05-09 04:55] jamie-sherriff commented on #44
Fixed in 3.0.0 release

[2019-05-09 04:55] #44 closed

[2019-05-09 04:55] jamie-sherriff commented on #49
Fixed in 3.0.0 release

[2019-05-09 04:55] #49 closed

[2019-05-09 04:56] jamie-sherriff commented on #50
Fixed in 3.0.0 release

[2019-05-09 04:56] #50 closed

[2020-02-24 14:51] DamienCassou opened #52 "Tag 3.0.0 release"
Apparently, 3.x is released but it doesn't appear in https://github.com/travisjeffery/mocha-teamcity-reporter/releases.

[2020-02-25 08:00] jamie-sherriff commented on #52
@DamienCassou Thanks,

Had missed a few tags so they are pushed up now. I have only updated the tag for release on the latest version on github otherwise please refer to the CHANGELOG.md file in the repo for previous versions

[2020-02-25 08:00] #52 closed

[2020-02-25 10:41] DamienCassou commented on #52
Thank you.

[2020-03-23 10:00] marius-hi opened #53 "Running tests in parallel"
Trying to use this reporter with Cypress and parallelization mode : https://docs.cypress.io/guides/guides/parallelization.html#Overview
This means that my tests are distributed on a multiple number of machines which run tests in parallel.

Everything works fine with the exception that a failing test is wrongly displayed under another describe.

Example:
describe('Describe A', () => {
    it('shoul

[2020-04-09 04:56] jamie-sherriff commented on #53
Hey @marius-hi
Sorry for the delay in getting to this.

Any idea what version of mocha is being used in cypress?

Are you using different flowIds for each machine in parallel?

Any chance you have a minimum working example you could post? If not do you have the teamcity stdout messages
e.g
##teamcity[testStarted name='MyTest.test1']
##teamcity[testFailed name='MyTest.test1' message='failure messag

[2020-04-10 15:12] marius-acslworld commented on #53
Hey @jamie-sherriff,

I didn't specify the flowId parameter and this was the reason why the tests were grouped in a wrong suite.
When one of the machines emitted suite start message, the other machine was emitting test failed message.

Thanks for your support

[2020-05-17 20:57] marius-hi commented on #53
Hey @jamie-sherriff ,

I didn't specify the flowId parameter and this was the reason why the tests were grouped in a wrong suite.
When one of the machines emitted suite start message, the other machine was emitting test failed message.

Thanks for your support

[2020-05-17 20:57] #53 closed

[2020-05-26 10:52] cspotcode opened #54 "Implement 'hook end' event"
## The problem

Does not emit `testFinished` message when a hook ends. (`before`, `beforeEach`, etc)
This means the grouping in TC's log is broken, because peers of the hook are erroneously shown as children of the hook.

## Environment

* What mocha-teamcity-reporter version are you using: 3.0.0
* Version of NPM/yarn etc and Node.js: npm 6.13.4, node 14.0.0
* Version of teamcity (If Applicable) 2

[2020-06-03 06:30] jamie-sherriff commented on #54
Hey @cspotcode  Sorry i have been busy lately, can see how this is an issue and i would certainly welcome a PR if you have time, otherwise i can try take a look when i get a chance.

[2020-06-03 18:22] cspotcode commented on #54
Unfortunately I don't have time.  I had to copy-paste the reporter into our
source tree and fix the bug on my end, but now that project is finished and
I've had to move to other things.

For what it's worth, I also had to add 2 more options to disable flowId and
disable captureStandardOutput.  standardOutput capture is not always
desirable; we have tons of output and the capture affects the way it

[2021-03-03 09:29] DJ-Glock opened #55 "Issue with running two mocha runs in serial and parallel modes."
## The problem

I use mocha 8.2.1 for running tests and mocha-teamcity-reporter as a reporter for teamcity. I have test files that can be run in parallel. And also I have some test files that should be run one by one - in serial mode. As I understood mocha documentation, mocha can run test files only in parallel or in serial mode. So I tried to do the following: run two mocha runs with & command i

[2021-03-21 07:38] jamie-sherriff commented on #55
Hey @DJ-Glock thanks for the write up and sorry about the delayed response, I have been a bit swamped and hope to give this project some attention in the next week or so.

I had been working on some maintenance items and improved compatibility for mocha 8 in a branch called [feature/maintenance](https://github.com/travisjeffery/mocha-teamcity-reporter/tree/feature/maintenance)
, have you tried giv

[2021-03-24 09:24] DJ-Glock commented on #55
Hey @jamie-sherriff,
Thanks for your response.
It looks like the latest update of mocha fixed the issue. I need some time to monitor my builds, but I did not see any discrepancy after updating to mocha 8.3.1. Will check several more days and probably will close the issue.

[2021-03-29 14:32] DJ-Glock commented on #35
Hey @jamie-sherriff
I faced the same problem and luckily found this issue before raising my own :)
But I have a concern. As I see by default reporter reports that hook was failed as a test:

`##teamcity[testFailed name='"before all" hook:`
But TeamCity ignores it at all, because there was no started message:
`##teamcity[testStarted name='"before all" hook:`

So did you try to raise this to TeamCit

[2021-04-02 15:30] DJ-Glock opened #56 "Don't report about root hook start - when recordHookFailures enabled"
## The problem
After adding flag recordHookFailures in scope of https://github.com/travisjeffery/mocha-teamcity-reporter/issues/35, the reporter started to add testStarted tag for any hook that was run. So TeamCity is now able to detect hooks as tests, regardless of their state. It works fine for hooks defined in scope of test suite. But it causes another problem - it generates tag for global hook

[2021-04-02 15:35] DJ-Glock commented on #56
Hm, I checked your source code and https://github.com/mochajs/mocha/wiki/Third-party-reporters and it looks like it could be not possible. Mocha provides only `hook` and `hook end` events. No word about global hooks :(

[2021-04-02 16:13] DJ-Glock commented on #56
I checked your source code and https://github.com/mochajs/mocha/wiki/Third-party-reporters.
Mocha provides only `hook` and `hook end` events. No word about global hooks. But in this case we can try something like this:

1. Add a flag `--skipHooksWithTag="#globalHook"`
2. Implement check:
[code]

But the only thing I don't understand is how to give a name for [global hook.](https://mochajs.org/#roo

[2021-04-06 11:32] DJ-Glock commented on #55
@jamie-sherriff I've created PR to address this issue.
https://github.com/travisjeffery/mocha-teamcity-reporter/pull/57

Can you please check and review? I've added tests to cover this functionality and regression.

[2021-04-06 11:33] DJ-Glock commented on #56
@jamie-sherriff I've created PR to address this issue.
https://github.com/travisjeffery/mocha-teamcity-reporter/pull/57

Can you please check and review? I've added tests to cover this functionality and regression.

[2021-04-07 07:28] jamie-sherriff commented on #56
@DJ-Glock  Thanks very much for this and excellent write up of an issue. I think it might be the best I have ever seen! I will try and review it this week.

[2021-04-12 17:11] DJ-Glock commented on #55
I do not see this issue after updating mocha to 8.3.1 so closing. Thanks for your time anyway!

[2021-04-12 17:11] #55 closed

[2021-04-20 09:08] DJ-Glock commented on #54
I had the same question about testFinished message for hooks. I suppose that is should be fixed only when flag recordHookFailures is true, because it does not make any sense to write testFinished message for hook with no testStarted message.

I'll probably will find some time to fix this issue once https://github.com/travisjeffery/mocha-teamcity-reporter/pull/57 is merged.
But I'm talking about pr

[2021-04-23 07:53] #56 closed

[2021-04-23 08:00] DJ-Glock commented on #54
@jamie-sherriff if you don't mind, can you hold on with releasing new version for a day or two? I would like to fix this minor issue as well.

[2021-04-26 05:04] jamie-sherriff commented on #54
@DJ-Glock  Yup no worries can do both, thanks for picking this up as well.

[2021-05-02 06:44] #54 closed

[2021-05-02 06:47] jamie-sherriff commented on #54
@DJ-Glock ill do a release in the next day or so with a major version bump that will include all your changes. Any thoughts on jumping to version 8 to keep in line with mocha versioning?

[2021-05-02 12:22] DJ-Glock commented on #54
It’s up to you. I believe that many users can use old versions of mocha for some reason. So you will probably need to add some dependencies on versions of mocha. To restrict users to use old mocha with new reporter.

[2021-05-05 10:09] dmitriy-grablyov opened #59 "useStdError=true can bring false positive test results"
## The problem

I am not quite sure that this is fixable on the reporter side, but I feel I need to create the ticket just to bring an attention to the others.
Teamcity has a [known issue of output stream synchronizations](https://youtrack.jetbrains.com/issue/TW-14648)
Which means the order of messages across stdOut and stdErr is not guaranteed.
It also appears that teamcity cares about the messag

[2021-05-06 08:14] jamie-sherriff commented on #59
Thanks @dmitriy-grablyov seems like a gnarly one, any ideas on how to reduce the impact? If not I will probably just amend the readme with the information you provided for others and close this off?

[2021-05-06 08:29] dmitriy-grablyov commented on #59
I might suspect that checking the test state in the 'test finished' hookand throwing the message into stdErr too if test was failed, might be a solution to this issue.
On the other hand I doubt, that this is a good solution at all

[2021-05-08 20:56] csalazar1 opened #60 "Output to File"
Is there no way to output results to file? I didn't see any under the options listed

[2021-05-21 11:13] DJ-Glock commented on #60
@csalazar1 I can also recommend using `| tee e2e.log`. You can check my response [here](https://stackoverflow.com/questions/11354203/is-it-possible-to-get-the-raw-build-log-from-a-teamcity-build/67635511#67635511).

`tee` will duplicate output into the file without harming the original output that is parsed by TeamCity.

[2021-05-21 11:37] DJ-Glock commented on #59
@dmitriy-grablyov did you face this issue only with `useStdError=true`?
It looks like I've faced the same with no useStdError flag. But I am not sure.

I can see in raw log the followiing:
[code]

But in TeamCity:
![image](https://user-images.githubusercontent.com/26511191/119131313-f4f0e280-ba41-11eb-9f3b-837ca1c2b7d4.png)

I am really confused because I did not set useStdError any value.

[2021-05-21 11:57] dmitriy-grablyov commented on #59
No, this I haven't experienced

[2021-05-21 12:09] DJ-Glock commented on #59
@dmitriy-grablyov thanks. It looks like a separate issue and I guess I know what is happening here. Will create another one.

[2021-05-21 12:42] DJ-Glock opened #61 "Failed tests appears as successful in TeamCity"
## The problem
I use mocha-teamcity-reporter with the following options:
`--reporter-options recordHookFailures=true --reporter-options ignoreHookWithName=RootHook `

In the raw log I can see that test fails and messages are fine:
[code]

But in TeamCity:
![image](https://user-images.githubusercontent.com/26511191/119131313-f4f0e280-ba41-11eb-9f3b-837ca1c2b7d4.png)

I suspect that TeamCity parses

[2021-05-21 13:27] DJ-Glock commented on #61
I raised an issue for TeamCity - https://youtrack.jetbrains.com/issue/TW-71626

I run my build with the previous version of reporter and it works fine. So it looks like an issue on TC side.
I am going to create a PR to partially rollback changes made in https://github.com/travisjeffery/mocha-teamcity-reporter/pull/58/commits if they confirm the issue.

[2021-05-21 13:49] DJ-Glock commented on #61
And also for some reason when I run tests **without** recordHookFailures flag - I get hook end testFinished messages.
Don't know why - when I run reporter tests they look fine. Will investigate it also.

[2021-05-21 14:32] csalazar1 commented on #60
Thank you for the response guys! The use case is actually for someone that wants to have multiple reporters. In this case, the first reporter would be outputting to STDOUT and the second reporter, mocha-teamcity, should be outputting to log file.

[2021-05-21 17:25] DJ-Glock commented on #60
@csalazar1 in case if you want to have a several reporters, I would recommend you use https://github.com/stanleyhlng/mocha-multi-reporters. I had some experiments with this lib and another similar one, but found it much more useful. I think about using it even with one reporter because it allows to configure reporter options easier than several parameters in one line (i use CLI command for running

[2021-05-21 17:45] DJ-Glock opened #62 "Constants instead of event names"
Please treat this issue as a gentle reminder. I will probably handle it later, if you don't mind.

## The problem
Quote from mocha document https://mochajs.org/api/tutorial-custom-reporter.html:
Please use these constants instead of the event names in your own reporter! This will ensure compatibility with future versions of Mocha.

![image](https://user-images.githubusercontent.com/26511191/119177

[2021-05-21 17:58] DJ-Glock commented on #61
OKay. TeamCity support was very helpful. They provided me a link to their doc. The issue here is in the same flowId for test and hook.

[Official doc](https://www.jetbrains.com/help/teamcity/service-messages.html#Nested+test+reporting) says:
_Starting another test finishes the currently started test in the same flow. To still report tests from within other tests, you will need to specify another f

[2021-05-21 18:08] DJ-Glock commented on #61
- [ ] Fix an issue with treating failed test as successful
- [ ] Add tests to cover hooks reporting without recordHookFailures
- [ ] Check why recordHookFailures is true by default for my build

[2021-05-22 08:35] DJ-Glock commented on #61
By the way I've just realized that `recordHookFailures` name does not really describe it's functionality. `fail` event is fired for failed hooks and tests hence it always logs failed hooks. :)

[2021-05-22 09:11] DJ-Glock commented on #61
@jamie-sherriff please review https://github.com/travisjeffery/mocha-teamcity-reporter/pull/63 once able. I believe this fix can be very critical for users who use recordHookFailures option.

[2021-05-27 09:42] jamie-sherriff commented on #61
@DJ-Glock Thanks for this, had a quick read of the teamcity docs, do you think its worthwhile to add parent=siuite1 etc on tests? Happy to break it into another issue if you think its worthwhile todo.

[2021-05-27 09:49] DJ-Glock commented on #61
Mmm. I guess I didn't get it. What exactly do you want to cover?
Anyway I believe adding more tests is a good idea. It could be done in separate issue.

[2021-05-27 09:51] DJ-Glock commented on #61
I see. https://www.jetbrains.com/help/teamcity/service-messages.html#Message+FlowId
Well I believe we should add this carefully in a separate issue.

[2021-05-28 06:22] jamie-sherriff commented on #61
@DJ-Glock Yup fair enough, just bouncing some ideas. I don't use TeamCity on a daily basis anymore so am a bit out of the loop. Are you ok with this going out as a patch release or prefer a minor version bump?

[2021-05-28 12:17] DJ-Glock commented on #61
@jamie-sherriff Minor version bump will be okay I believe.

[2021-05-30 04:13] jamie-sherriff commented on #61
Closing as fixed by published version 4.1.0

[2021-05-30 04:13] #61 closed

[2021-05-30 04:24] jamie-sherriff commented on #60
I have updated the readme with some of the highlights from this issue but if there is anything else to add please reopen with a comment.

[2021-05-30 04:24] #60 closed

[2021-05-30 04:28] jamie-sherriff commented on #62
@DJ-Glock please go for it.

How far back do the constants go in Mocha? e.g do we need to bump the minimum supported mocha version again?

[2021-05-31 08:04] DJ-Glock commented on #62
I will check it!

[2021-05-31 08:30] DJ-Glock commented on #62
Okay, as far as I see, it was introduced in mocha 6.0 release:
https://github.com/mochajs/mocha/commit/52b9a5fb97bc3a6581dc6538aa0092276e71ea41
https://github.com/mochajs/mocha/compare/v5.2.0...v6.0.0
![image](https://user-images.githubusercontent.com/26511191/120164733-8a8b2f80-c203-11eb-9f25-9defefe68635.png)

I just wonder why they did not include this into release notes https://github.com/moch

[2021-05-31 08:42] DJ-Glock commented on #62
@jamie-sherriff just one question from my side. Do you know if teamcityBrowser.js is used currently?
https://github.com/travisjeffery/mocha-teamcity-reporter/blob/master/lib/teamcityBrowser.js
It looks outdated. Do we need to support it?

[2021-06-06 07:26] jamie-sherriff commented on #62
@DJ-Glock One person requested a browser compatible version years ago, There is not much point as adding Destructuring assignment will drop internet explorer compatibility (That might have been a requirement at the time)  and adding pol fills is just not worth it for this IMO. Also since we are not using a module bundler the mocha import is not going to work as well.

Can you back out your changes

[2021-06-07 08:43] DJ-Glock commented on #62
@jamie-sherriff Thanks for clarification. I rolled back my changes in the teamcityBrowser file.

[2021-09-30 22:40] papatelst opened #65 "Pending tests are displayed as Passed in teamcity UI"
## The problem
Briefly describe the issue you are experiencing (or the feature you want to add)
Tests shown as `pending `in Build logs are incorrectly displayed as Passed/Successful in `Overview `and `Tests `tab in teamcity UI.

## Environment

* What mocha-teamcity-reporter version are you using
* 4.1.0
* Version of NPM/yarn etc and Node.js
* npm version 6.14.11, Node.js version 12.21.0
* Version

[2021-11-15 04:54] #65 closed

[2021-11-20 22:26] jamie-sherriff commented on #65
Released in version 4.2.0